<%- model_class = TopRoute -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:country_code) %></th>
      <th><%= model_class.human_attribute_name(:country_name) %></th>
      <th><%= model_class.human_attribute_name(:selling_rate) %></th>
      <th><%= model_class.human_attribute_name(:asr) %></th>
      <th><%= model_class.human_attribute_name(:acd) %></th>
      <th><%= model_class.human_attribute_name(:capacity) %></th>
      <th><%= model_class.human_attribute_name(:service_level) %></th>
      <th><%= model_class.human_attribute_name(:quality) %></th>
      <th><%= model_class.human_attribute_name(:remarks) %></th>
      <th><%= model_class.human_attribute_name(:select_for_promotion) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @top_routes.each do |top_route| %>
      <tr>
        <td><%= link_to_unless top_route.country_code.blank?, top_route.country_code, top_route_path(top_route) %></td>
        <td><%= link_to top_route.country_name, top_route_path(top_route) %></td>
        <td><%= top_route.selling_rate %></td>
        <td><%= top_route.asr.to_s + " %" %></td>
        <td><%= top_route.acd %></td>
        <td><%= top_route.capacity %></td>
        <td><%= top_route.service_level %></td>
        <td><%= top_route.quality %></td>
        <td><%= top_route.remarks %></td>
        <td><%= top_route.select_for_promotion ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_top_route_path(top_route), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            top_route_path(top_route),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
  new_top_route_path,
  :class => 'btn btn-primary' %>

<br/><br/>or<br/><br/>

<div class="well">
  <h5>Bulk Import</h5>
  <%= form_tag import_top_routes_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</div>