<%- model_class = TopRoute -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:country_code) %>:</strong></dt>
  <dd><%= @top_route.country_code %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:country_name) %>:</strong></dt>
  <dd><%= @top_route.country_name %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:selling_rate) %>:</strong></dt>
  <dd><%= @top_route.selling_rate %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:asr) %>:</strong></dt>
  <dd><%= @top_route.asr %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:acd) %>:</strong></dt>
  <dd><%= @top_route.acd %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:capacity) %>:</strong></dt>
  <dd><%= @top_route.capacity %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:service_level) %>:</strong></dt>
  <dd><%= @top_route.service_level %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:quality) %>:</strong></dt>
  <dd><%= @top_route.quality %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:remarks) %>:</strong></dt>
  <dd><%= @top_route.remarks %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:select_for_promotion) %>:</strong></dt>
  <dd><%= @top_route.select_for_promotion ? 'Yes' : 'No' %>&nbsp;</dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              top_routes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_top_route_path(@top_route), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              top_route_path(@top_route),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
