<div class="page-header">
  <h1>Send manual email</h1>
</div>

<%= form_for @email, :url => send_manual_emails_path, :html => { :class => 'form-horizontal', :method => :post } do |f| %>
  <div class="control-group">
    <%= f.label 'Customer', :class => 'control-label' %>
    <div class="controls">
      <%= check_box_tag('select_all', "all", false, {:class => 'multiple_checkbox'}) %>
      <%= label_tag "select_all", "Select all", class: 'check_box_label' %>
    </div>
    <% @accounts.each do |account| %>
      <div class="controls">
        <%= f.check_box(:account_ids, { :multiple => true, :class => 'multiple_checkbox', :disabled => !account.has_contacts? }, account.id, nil) %> &nbsp;
        <%= label_tag "email_account_ids_#{account.id}", account.number, class: 'check_box_label' %>
        <% unless account.has_contacts? %>
          <span class="disabled_red">Customer does not have a single contact to send email. Add contact to enable it!</span>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="control-group">
    <%= f.label 'Template', :class => 'control-label' %>
    <div class="controls">
      <%= f.select :email_template_id, email_template_options, :include_blank => "-- Select --" %>
    </div>
  </div>
  <div class="control-group top_routes_box">
    <%= f.label 'Top Routes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :top_route_ids, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <%= f.bootsy_area :body, :class => 'bootsy_area', :editor_options => {image: false, color: false} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Send email', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                email_templates_path, :class => 'btn' %>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    $("#email_top_route_ids").tokenInput("/top_routes/search",
    {
      prePopulate: <%= @top_routes.to_json %>,
      hintText: 'Type in a top route country name',
      preventDuplicates: true,
      propertyToSearch: 'country_name'
    });
  })
</script>
