<%- model_class = Account -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:short_name) %></th>
      <th><%= model_class.human_attribute_name(:official_name) %></th>
      <th><%= model_class.human_attribute_name(:customer_type) %></th>
      <th><%= model_class.human_attribute_name(:grade) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.number, account_path(account) %></td>
        <td><%= account.short_name %></td>
        <td><%= account.official_name %></td>
        <td><%= account.customer_type %></td>
        <td><%= account.grade %></td>
        <td><%= account.status %></td>
        <td>
          <%= link_to 'Contacts', account_account_contacts_path(account.id), :class => 'btn btn-mini' %>
          <%= link_to 'References', account_references_path(account.id), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_account_path(account), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      account_path(account),
                      :method => :delete,
                      :data => { :confirm => 'With deleting this customer, all contacts and references associated with this account will be deleted. Do you really want to proceed?' },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_account_path,
            :class => 'btn btn-primary' %>

<br/><br/>or<br/><br/>

<div class="well">
  <h5>Bulk Import</h5>
  <%= form_tag import_accounts_path, multipart: true, id: 'top_routes_upload_form' do %>
    <%= file_field_tag :file %>
    <%= button_tag "Partial Upload" %>
  <% end %>
</div>